<!DOCTYPE html>
<html lang="en">
<head>
    <title>Expedia Search App</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
          rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>


<body>

<div>
    {% for flash in get_flashed_messages() %}
      <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
    {% endfor %}
    
    <div class="container">
	  <h2>Search for Deals</h2> 
	  <form action="/search">
	    
	    <div class="form-group">
	      <label for="destCity">destination City:</label>
	      <input type="text" class="form-control" id="destCity" placeholder="Enter city name here" name="destCity" required>
	    </div>

	    <div class="form-group">
	      <label for="length">how many days?</label>
	      <input type="text" class="form-control" id="length" placeholder="Enter number of days here" name="length" required>
	    </div>

	    <div class="form-group">
	      <label for="minStarRate">minimum star rating:</label>
	      <input type="text" class="form-control" id="maxStarRate" placeholder="out of 5" name="minStarRate">
	    </div>

	    <div class="form-group">
	      <label for="maxStarRate">maximum star rating:</label>
	      <input type="text" class="form-control" id="minStarRate" placeholder="out of 5" name="maxStarRate">
	    </div>

	    <div class="form-group">
	      <label for="minGuestRate">minimum guest rating:</label>
	      <input type="text" class="form-control" id="minGuestRate" placeholder="out of 5" name="minGuestRate">
	    </div>

	    <div class="form-group">
	      <label for="maxGuestRate">maximum guest rating:</label>
	      <input type="text" class="form-control" id="maxGuestRate" placeholder="out of 5" name="maxGuestRate">
	    </div>

	   	<input type="submit" value="Search" name="Search"/>
	  </form>	
	</div>
  
</div>


</body>
</html>